<div id="hero">

  <div id="one">
    With <span>Agile Rails</span> you can leverage the power of <span>Ruby on Rails</span> and
    build corporate Intranet applications easier and faster then ever.
    <%= image_tag('/files/images/image1.webp', alt: 'Agile Rails data entry form') %>
  </div>

  <div id="two">
    Watch <span>introduction video</span> and learn how easy it is<br> to make a data entry form with <span>Agile Rails</span><br>
    <%= image_tag('youtube.png') %>
  </div>

  <div id="three">
    Download and install demo application to your computer.
    <a href="https://github.com/agile-rails/agile-rails-demo"><br><br><span>Installation instructions</span></a>
  </div>
</div>

<footer>
  &copy;opyright by Damjan Rems <%= Time.now.year %>
</footer>
