<div id="hero">

  <div id="one">
    With <span>Agile Rails</span> you can leverage the power of <span>Ruby on Rails</span> and
    build business Intranet applications easier and faster then ever.
    <%= image_tag('/files/images/agile-rails-form.webp', alt: 'Agile Rails data entry form') %>
  </div>

  <div id="two">
    Watch <span>introduction video</span> and learn how easy it is<br> to make an application with <span>Agile Rails</span><br><br>
    <%= link_to(image_tag('youtube.png'), 'https://www.youtube.com/playlist?list=PLM66pztpUC0DVAqZvIAqH3Khb_RzJdD3W', target: '_blank') %>
  </div>

  <div id="three">
    Download and install startup application to your computer.
    <a href="https://github.com/agile-rails/startup?tab=readme-ov-file#readme" target="_blank"><br><br><span>Installation instructions</span></a>
  </div>
</div>

<footer>
  &copy;opyright by Damjan Rems <%= Time.now.year %>
</footer>
