
#web {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Exo;
}
#web #top {
  text-align: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#web #top div { width: 50%; position: relative;}
#web #top img { max-height: 350px; width: 80%}
#web #top #logo #logo-text {
  text-align: left;
  position: relative;
}

#web #top #logo #logo-text {
  position: absolute;
  bottom: 1rem;
  right: 1%;
  font-size: 4vw;
  font-size: clamp(44px, 4vw, 60px);
  line-height: 1em;
  font-weight: 800;
  color: #9B131E;
  text-shadow: 1px 1px 1px #fff;
}

#web #top #logo #logo-text div:last-of-type {
  margin-left: 0.7em;
}


#web #page h2 {
  font-size: 1.4em;
  color: #d60420;
}
#web #page h2 span {
  font-size: 0.9em;
  color: #222;
}

#web #page h2 span {
  font-size: 0.9em;
  color: #222;
}

#web-menu ul {
  background-color: #9977ee;
}
.web-menu a {
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 700;
  color: #222;
  border-bottom: 4px solid transparent;
  padding: 2px 0;
  margin: 0 1rem;
  text-wrap: nowrap;
}

.web-menu a:hover, .web-menu .active {
  color: #d60420;
  border-bottom: 4px solid #d60420;
}

.web-menu li {
  display: inline;
}

/***************   ****************/
#hero div {
  padding: 4rem 5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6em;
  text-align: center;
}
#hero span {
  color: #d60420;
}

#hero #one {
  background-color: rgba(219, 230, 244, 0.1);
}

#hero #one img {
  max-width: 90%;
  padding: 3rem 0;
}

#hero #two {
  background-color: rgba(219, 230, 244, 0.4);
}

/**** FORM helper ***/
.agile-all {
  font-family: monospace;
  padding: 8px;
 /* background-color: rgba(250, 250, 209, 0.2);
  border: 1px solid #f8f8f8;*/
}
.agile-all .form-key {
  color: #f22;
}

.agile-all .form-key.with-help {
  cursor: pointer;
}

.agile-all .form-key.with-help::before {
  content: '+';
  font-size: 0.8em;
  padding-right: 2px;
}
.agile-all .form-key.no-help::before {
  content: '';
  padding-right: 10px;
}

.agile-all .comment {
  color: darkgreen;
}

.agile-all .form-key-help {
  display: none;
  padding: 1rem;
  margin: 8px 0;
  background-color: #fff;
  color: darkgreen;
  border: 1px dotted #888;
}
.agile-all .form-key-help.open {
  display: block;
}

footer {
  padding: 5rem 1rem 1rem;
  text-align: right;
  background-color: rgba(219, 230, 244, 0.4);
}

@media screen and (max-width: 600px) {
  #web #top {
    display: block;
  }
  #web #top div { width: initial; }

  #web #top #menu { padding: 1rem 8px; }

  #hero div {padding: 2rem 8px; line-height: 1.4em; font-size: 1.8rem}


}
